<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Rentall</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>rentall</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
		<key>CFBundleLocalizations</key>
		<array>
			<string>en</string>
			<string>ar</string>
		</array>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This permission is needed, to be able to import photos from your library.</string>
		<key>NSCameraUsageDescription</key>
		<string>This permission is needed, to be able to take photos.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>This permission is needed, to be able to send recorded videos with audio</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>tel</string>
		</array>
		<key>NSLocationUsageDescription</key>
		<string>This app needs to access your location to be able to calculate distance</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>This app needs to access your location to be able to calculate distance</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app needs to access your location to be able to calculate distance</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>googlechromes</string>
			<string>comgooglemaps</string>
		</array>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>820565118933532</string>
				</array>
			</dict>
		</array>
		<key>FacebookAppID</key>
		<string>820565118933532</string>
		<key>FacebookClientToken</key>
		<string>dc625f68e9572f5687c1e27e4241da0c</string>
		<key>FacebookDisplayName</key>
		<string>Rentall</string>
	</dict>
</plist>